/* Police Amatic SC */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* Police Belgrano */
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

/* Disposition de la navbar */
#navbar{

    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 7vw;

    border-bottom: solid 1px black;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
    font-family: 'Amatic SC';
}

#navbar a{

    text-decoration: none;
}
#navbar li{
    font-size: 3vw;
    color: #404040;
}

#navbar img{
    width: 6vw;
}

main #title{
    font-family: 'Belgrano', serif;
    font-size: 4vw;
    color: #404040;
}

.green{
    color: #88B494;
}

.mainContainer{
    margin-top: 7vh;
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    text-align: center;

}



.bo{
    /* border: solid 1px green; */
    position: absolute;
    top: 10%;
    right: 27%;
}

.imgHome img{
    /* border: solid 1px black; */
    width: 20vw;
}

main{
    margin: auto;
}

.mainContainer > div {
    /* border: 1px solid blue; */
    width: 49%;
    padding: 0;
    margin: 0;
}


.mainContainer input {
    border: solid 1px;
    border-radius: 30px;
    width: 30%;
    padding-left: 1vw;
    
}

form input[type="text"]{
    border: solid 1px black;
    vertical-align: middle;
    padding-right: 50px;
    height: 4vw;
    width: 30%;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    form input[type="text"]::placeholder{
        width: 200%;
        font-size: 80%;
    
    }
  }

  @media screen and (min-width: 600px) {
    form input[type="text"]::placeholder{
        width: 200%;
        font-size: 100%;
    
    }
  }


.buttonSubmitArrow{
    background-color: transparent;
    border: none;
}

.arrowButton{
    
    border-radius: 25px;
    border: none;
    width: 4vw;
    height: 4vw;
    background-color: #88B494;
    vertical-align: middle;
    margin-left: -4vw;

}


#buttonBonsail{
    background-color: transparent;
    border: 1px solid;
    padding: 1vh;
    border-radius: 30px;
    width: 50%;
    font-family: 'Amatic SC';
    font-size: 3vw;
    margin-right: 20vw;


}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}



#footer div{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 1rem;
}

#footer li{
    color: #404040;

}
#footer a{
    color: #404040;
    text-decoration: none;

}

footer img{
    width: 6vw;
}
